body{
//background-image: url(/images/login.jpg);
    margin-top: 0%;
    height: 98vh;
    width: 194.5vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: 'Oswald', sans-serif;
    color:white;
    font-size: 3em;
}

.title-login
{

    border-bottom: 2px solid #a5ced8;
    color: #white;
    margin-bottom: .5em;

}

.row
{
    margin-bottom: 200px;
    padding-top: 56px;

}

.col-md-12
{

    padding-bottom: 20px;

}
.btn-login{
    width: 100%;
}

.login{
    z-index: 2;
    top: 20%;
    position: fixed;
   // left: 23%;
}

.transparent{
    z-index: 2;
    height: 40px;
    background: none;
    color: white;
    font-size: .7em;
    border: none;
}

label{
    z-index: 2;
    color:white;
    font-size: .7em;
}

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}


/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100.8%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .8;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
    background-image: url(/images/login1.jpg);
}
.fade-carousel .slides .slide-2 {
    background-image: url(/images/login2.jpg);
}
.fade-carousel .slides .slide-3 {
    background-image: url(/images/login3.jpg);
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }
}
